h1 {
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: gray;
}
h3 {
  text-align: center;
  color: rgb(85, 9, 9);
}

h4 {
  font-style: italic;
  text-align: center;
}